/********* Universal Colors 

lowes blue = #004990;
midnight blue = #036;
navy blue = #002040;
light blue = #198EFF or rgb(25,142,255);
turquoise = #3D6C99;
seafoam? = #00FFF6;

Tekainos orange = #cc9900;

blood red = #CC1F14;

green for go = #A2B209;


almost white = #eee;
off-white = #ddd;

light gray = #e5e4e7 or hsl(255, 5%, 90%);

*********/




/************************************** general styles **************************************/

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #333 !important;
    background: #FFF !important;
}

html, body {
    height: 100%;
}

a {
    color: #0571af;
    font-weight: 600;
}

img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.appPage {
    overflow: auto;
}





/************************************** tier 1 - page window **************************************/
.pageWindow {
    position: relative;
    width: 100% !important; /* --enable to make screen stretch to fill window */
    height: 100%;
}

header {
    line-height: 80px;
    margin: 0;
    padding: 0;
    min-height: 80px;
}

#burgerButton {
    margin: 1.4em 0 0 1em;
    float: left;
}

    #burgerButton .bar {
        width: 30px;
        height: 5px;
        background: #c2e8fe;
        margin: 6px 0;
    }

.NameBox h1 {
    font-family: tekainosFont;
    color: #004990;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* No support for these yet */
    -o-user-select: none;
    user-select: none;
}
    .loginLogo {
        font-size: 100px;
        margin-top: 1em;
        text-align: center;
    }
    .smallLogo {
        font-size: 4em;
        line-height: 80px;
    }

#mainNav {
    height: 80px;
    text-align: right;
}

    #mainNav li {
        font-size: 1.4em;
        list-style: none;
        display: inline;
        color: #198EFF;
        font-weight: 600;
        padding: 0 1em;
        cursor: pointer;
    }
    #mainNav li:nth-child(3), #mainNav li:nth-child(4) {
        border-left: 1px solid #DDD;
    }
    #mainNav li:first-child {
        margin-left: 0;
    }
    #mainNav li:last-child {
        margin-right: 0;
    }

    #mainNav li i {
        margin-right: .25em;
        color: #198EFF;
        font-size: 1.5em;
    }




/************************************** dashboard tier **************************************/
.appPageView {
    height: 100%;
}

#dashboard > div {
    background: radial-gradient(circle at 50% center, rgb(194, 232, 254), rgb(5, 113, 175));
    padding: 2em 0;
    height: 100%;
}

.dashboardLeft {
    padding: 0 !important;
    position: relative;
}

#statusPaneButton {
    z-index: 1;
}

    #statusPaneButton i {
        font-size: 2em;
        color: #0571af;
        font-weight: 100;
    }

    #statusPaneButton .fa {
        font-weight: normal;
    }

.statusPaneVisible {
    float: left;
    padding: 1.5em 0 1.5em 4em;
    /* position: absolute;
		top: 0;
		left: 0; */
}

.statusPaneHidden {
    background: #FFF;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1.5em 0 1.5em 37%;
}

.sideContent {
    background: linear-gradient(to left, #ffffff, #F5F5F5);
    border-radius: 0 10px 10px 0;
    text-align: center;
    padding: 1em 0;
}

    .sideContent h2 {
        color: #004990;
        font-size: 40px;
        font-weight: 600;
        margin: 0 auto;
        width: 35%;
    }

.SideContentOpen {
    background: #FFF;
    width: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.StatusBlock {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 2em;
    padding: 1em 0;
}

    .StatusBlock span {
        color: #5ebb48;
        font-size: 30px;
        font-weight: 600;
    }

        .StatusBlock span.subtext {
            font-size: 20px;
            color: inherit;
        }

        .StatusBlock span.error {
            color: #ff2a00;
        }

.dbViewPane {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    background: #FFF;
}




/* Job list accordion */

#jobsAccordion h2 {
    color: #004990;
    background: #d1d1d1;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 0;
    font-size: 2em;
}

#JobsList {
    overflow: auto;
    max-height: 60vh;
}

#JobsList--filter {
    padding: 1em;
    border-bottom: 1px solid #004990;
}

    #JobsList--filter li {
        list-style: none;
        display: inline;
        font-size: 1em;
    }

#JobsList .panelAccordion {
    padding: 1em;
    border-bottom: 1px solid #BBB;
}

    #JobsList .panelAccordion h3 {
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }

    #JobsList .panelAccordion:nth-child(odd) {
        background: #F5F5F5;
    }

    #JobsList .panelAccordion:last-child {
        border: 0;
    }




/************************************** project view tier **************************************/
#projectView > .row {
    margin: 0 15px;
}

#projectView > appPage {
    overflow: auto;
}

.customerTitleBar {
    background: linear-gradient(to bottom, #f9f9f9, #f9fbfc 12%, #e5eaed);
    height: 60px;
    font-size: 1.5em;
    line-height: 60px;
    margin: 0 !important;
}

#jobScreen h2 {
    font-size: 1.5em;
    margin: 2em 0 1em 0;
    padding: 0 0 5px 0;
    color: #000;
    border-bottom: 2px solid #c2e8fe;
}

.JobDesc .date {
    margin-bottom: 1em;
    font-weight: 600;
}

.JobDesc label {
    display: block;
    margin-top: 1em;
}

.JobDesc textarea {
    width: 100%;
}


.JobRooms {
    margin: 11em 0;
}

    .JobRooms button {
        width: 100%;
        background: #FFF;
        border: 0;
        padding: 0;
        text-align: right;
        margin: .5em 0;
        color: #004990;
    }

        .JobRooms button#JobAddLevel {
            margin: 2em 0;
            text-align: center;
            border: 2px solid #004990;
            background: #0571af;
            color: #FFF;
        }

    .JobRooms a {
        padding: 10px;
        display: block;
        text-transform: uppercase;
    }

        .JobRooms a:hover {
            background: #B1FFFF;
        }




/************************************** flyout side navigation menu **************************************/
#sideNav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    background: #000055;
    color: #FFF;
}

    #sideNav .NameBox h1 {
        color: #FFF;
        width: 50%;
        float: left;
        margin: .5em;
    }

#sideNavClose {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 0;
    padding: 1em;
    border: 1px solid #ff2a00;
    background: #ff2a00;
}

    #sideNavClose i {
        font-size: 3em;
        font-weight: 600;
    }

    #sideNavClose:hover {
        cursor: pointer;
        background: #FFF;
        color: #ff2a00;
    }

.sideNavLinks {
    clear: both;
}

    .sideNavLinks li {
        list-style: none;
        border-bottom: solid 1px #FFF;
        margin: 0 0 1em 0;
        padding: 0;
        line-height: 40px;
    }




/************************************** progress bar **************************************/
#progress-bar {
    height: 10px;
    background: #eaeaea;
    margin: 1em;
}

#progress {
    width: 0%;
    max-width: 100%;
    height: 100%;
    background: #EF5F3C;
}











hr {
	border: 0;
	border-top: 1px solid #ccc;
}

input[type=text] {
    color: black;
    border: 0;
    box-shadow: none;
    border-radius: 3px;
}

.hiddenSubmit {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.backButt {
    position: absolute;
    display: inline;
    height: 50px;
    width: 100px;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.backCanv {
   z-index: 3;
}

.headerInputs {
    padding: 1px;
    border: 1px white solid;
}

.main-page {
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    background-color: #1D6DA0;
}

.block-title {
    color: #198EFF;
    opacity: .9;
    font-size: 45px;
}

.LoremIpsum {
    color: #FFF;
}

.tileContainer {
    position: absolute;
    height: 400px;
    width: 325px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #444;
    overflow-y: scroll;
}

.tileInput {
    width: 45%;
    display: inline-block;
}

.submitDiv {
    display: inline-block;
    float: right;
    margin: 10px;
    width: 40%;
    height: 60%;
    overflow: auto;
    padding: 25px;
    color: black;
}

.canvasBox {
    display: inline-block;
    float: left;
    margin: 10px;
    background-color: #ddd;
    width: 40%;
    height: 60%;
    overflow: auto;
    padding: 25px;
    border: 1px black solid;
}

.nameInput {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
    display: block;
}

.selectVersion {
    width: 50%;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
}

.submitNotes {
    width: 100%;
    height: 40%;
    display: block;
    margin-right: 10px;
}

.LoremIpsum {
    width: 90%;
    height: 22%;
    margin: 20px;
    margin-top: 20px;
    font-size: 16px;
    overflow-y: hidden;
}

.placeholder {
    color: #004690;
}

.NavDark {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.NavPage {
    background-image: url(/img/grid2.PNG);
    position: absolute;
    width: calc(100% - 300px);
    height: 100%;
    text-align: center;
}

.NavIcon {
    display: block;
    width: 12vw; /* 20% of the viewport width */
    height: 12vw;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}

.InternalBox {
    position: relative;
    height: 80%;
    width: 70%;
    margin-left: 15%;
}

.InternalFrame {
    position: relative;
    height: 90%;
    padding-top : 5%;
    width: 80%;
    margin-left: 10%;
}

.splashBox {
    height: 55%;
    width: 45%;
    margin: 2%;
    box-shadow: 5px 5px 10px #888;
    border-radius: 10px;
    z-index: 1;
    opacity: 0.9;
    border: 5px solid #002040;
    background-color: #002040;
}

    .splashBox:hover {
        opacity: 1;
        color: #FFF;
        background-color: #004690;
        border: 5px solid #FFF;
    }

    .splashBox:hover .block-title {
        color: #FFF;
    }

.BigBox {
    height: 100%;
    width: 100%;
    margin: 2%;
    box-shadow: 5px 5px #888;
    border-radius: 3px;
    z-index: 1;
    opacity: 0.9;
    border: 1px solid #111;
    background-color: #003a77;
}

.DarkBox {
    height: 65%;
    width: 75%;
    margin: auto;
    margin-top: 4%;
    border-radius: 3px;
    text-align: center;
    z-index: 1;
    opacity: 1;
}

.loginBox {
    height: 65%;
    width: 75%;
    margin: auto;
    margin-top: 5%;
    box-shadow: 5px 5px 10px #ddd;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    opacity: 1;
    border: 3px solid #ddd;
    background-color: #FFF;
}

.loginButton {
    background-color: #198EFF;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
}

.questionPage {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: #1D6DA0;
}

.filediv {
    width : 80%;
    margin-left: 10%;
    height: 55px;
    margin-top: 20px;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    overflow-x : hidden;
}

.filenotes {
    width : 50%;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: black;
}

.filename {
    width : 45%;
    float : left;
    margin-bottom : 30px;
    margin-left : 10px;
}

.testItenerary {
    display: inline-block;
    width: 20%;
    height: 90%;
    float: right;
    position: relative;
    margin: 2%;
    box-shadow: 5px 5px #888;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #111;
    overflow-y: scroll;
    text-align: center;
    background-color: #003a77;
    overflow-y: hidden;
    overflow-x: hidden;
}

.innerItenerary {
    height: 95%;
    padding: 5px;
    overflow-y: scroll;
    margin-bottom: 50px;
    margin-right: -50px;
    padding-right: 50px;
}

.itenerary {
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid white;
}

.submitButton {
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.submitPageButton {
    width: 80%;
    height: 50px;
    color: white;
    border: none;
}

.rollCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
}
.NamePage {
    background-color: #222;
    height: 100%;
    width: 100%;
}

/* .NameBox {
    margin: auto;
    text-align: center;
    font-size: 130px;
    font-family: tekainosFont;
    color: #004990;
    display: block;
} */
.questionGroup {
    display: inline-block;
    height: 90%;
    width: 65%;
    margin: 2%;
    margin-left: 5%;
    box-shadow: 5px 5px #888;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #111;
    padding: 5%;
    padding-top: 0px;
    overflow-y: scroll;
    text-align: center;
    background-color: #003a77;
}

.questionBox {
    display : block;
    width : 100%;
    height : 100%;
}

.progBar {
    width: 100%;
    height: 100px;
}

.parallelogram {
    width: 31%;
    font-size: 20px;
    display: inline-block;
    background: #eee;
    box-shadow: 5px 5px #888;
    color: #111;
    margin: 5px;
    border-radius: 2px;
}
    .parallelogram:hover {
        background: #BED5E3;
    }


.selectedParallelogram {
    width: 31%;
    font-size: 20px;
    display: inline-block;
    background: #3a7700;
    box-shadow: 5px 5px #888;
    color: #fff;
    margin: 5px;
    border-radius: 2px;
}

.loginRow {
    height: 50px;
    width: 70%;
    margin-left: 15%;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid #aaa;
}

.loginInput {
    color: black;
    height: 30px;
    width: 80%;
    margin-left: 10px;
    border: 0;
    box-shadow: none;
}

.inputIcon {
    color: black;
    font-family: "FontAwesome";
    font-size: 20px;
}

.questionClass {
    display: inline-block;
    width: 100%;
    margin: 0px;
    border-radius: 0px 15px 0px 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    float: left;
    border: 1px #666 solid;
    background-color: #aaa;
}

.questionFill {
    width: 60%;
    margin-top: 15px;
    color: black;
}

.questionAnswers {
    display: inline-block;
    padding-left: 20px;
    float: left;
}

.questionLegend {
    display: inline-block;
    text-align: left;
    background-color: #BED5E3;
    padding-left: 15px;
    border-radius: 0px 15px 0px 0px;
    width: 100%;
    margin: auto;
    float: left;
    color: black;
    border-bottom: 1px #666 solid;
    font-size: 20px;
}

.radioLabel {
    margin: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}

textarea {
	tab-size: 4;
	white-space: pre;
	word-wrap: normal;
}

	textarea.success {
		border-color: #8b8 !important;
	}

	textarea.fail {
		border-color: #f00 !important;
		background-color: rgba(255,0,0,0.05);
	}

textarea, input { outline: none; } /* osx */

.Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

	.Panel.Collapsible .Static {
		margin: 0;
	}

	.Panel.Collapsible .Static .Button {
		float: left;
		margin-right: 6px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
	}

	.Panel.Collapsible.collapsed .Static .Button {
		margin-top: 2px;
		border-left-color: #bbb;
	}

	.Panel.Collapsible:not(.collapsed) .Static .Button {
		margin-top: 6px;
		border-top-color: #bbb;
	}

	.Panel.Collapsible.collapsed .Content {
		display: none;
	}



/**************    Products Picker - Derek Will    **************/

.overflow--y-scroll {
    overflow-y: auto;
}

.overflow--hidden {
    overflow: hidden;
}

#productsPage {
    position: relative;
}

#productsPage .product-type img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#productsPage .overflow--y-scroll {
    height: 68%;
    box-sizing: border-box;
}

#productsPage h2 {
    font-size: 3em;
    text-align: left;
}

.product-category {
    font-size: 2.5em;
    color: white;
    margin: 0;
}

.prodcat-options {
    display: none;
}

.product-category h3 {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    background: #444;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.product-type {
    display: inline-block;
    width: calc(90% / 3);
    height: 150px;
}



/************************************** CodeMirror **************************************/

.CodeMirror {

	position: absolute !important;
	top: 37px;
	width: 100% !important;
	height: calc(100% - 37px) !important;

}

	.CodeMirror .errorLine {

		background: rgba(255,0,0,0.25);

	}

	.CodeMirror .esprima-error {

		color: #f00;
		text-align: right;
		padding: 0 20px;

	}

/* outliner */

#outliner .option {

	border: 1px solid transparent;
}

#outliner .option.drag {

	border: 1px dashed #999;

}

#outliner .option.dragTop {

	border-top: 1px dashed #999;

}

#outliner .option.dragBottom {

	border-bottom: 1px dashed #999;

}

#outliner .type {
	position:relative;
	top:-2px;
	padding: 0 2px;
	color: #ddd;
}

#outliner .type:after {
	content: '■';
}

#outliner .Scene {
	color: #ccccff;
}

#outliner .Object3D {
	color: #aaaaee;
}

#outliner .Mesh {
	color: #8888ee;
}

#outliner .Line {
	color: #88ee88;
}

#outliner .LineSegments {
	color: #88ee88;
}

#outliner .Points {
	color: #ee8888;
}

/* */

#outliner .PointLight {
	color: #dddd00;
}

/* */

#outliner .Geometry {
	color: #88ff88;
}

#outliner .BoxGeometry {
	color: #bbeebb;
}

#outliner .TorusGeometry {
	color: #aaeeaa;
}

/* */

#outliner .Material {
	color: #ff8888;
}

#outliner .MeshPhongMaterial {
	color: #ffaa88;
}

/* */

#outliner .Script:after {
	content: '{...}' /* ❮/❯ */
}
