/********* Universal Colors 

lowes blue = #004990;
midnight blue = #036;
navy blue = #002040;
light blue = #198EFF or rgb(25,142,255);
turquoise = #3D6C99;
seafoam? = #00FFF6;

Tekainos orange = #cc9900;

blood red = #CC1F14;

green for go = #A2B209;


almost white = #eee;
off-white = #ddd;

light gray = #e5e4e7 or hsl(255, 5%, 90%);

*********/




/************************************** general styles **************************************/

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body, body * {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

body {
    color: #000;
}

html, body {
    height: 100%;
}

a {
    color: #0571af;
    font-weight: 600;
}

img {
    position: relative;
    max-width: 100%;
    height: auto;
}

label {
    font-weight: normal;
}

.appWrapper {
    height: 100vh;
    background: radial-gradient(circle at 50% center, rgb(194, 232, 254), rgb(5, 113, 175));
    padding: 0;
}

.contentWindow {
    margin: 3vh 0;
}

.whiteBG {
    background: #FFF;
}

.lightBG {
    background: #F5F5F5;
}

.overflow--x {
    overflow-x: auto;
}

.overflow--y {
    overflow-y: auto;
}

.overflow {
    overflow: auto;
}

.contentPane {
    height: 84vh;
    padding: 1em;
}





/************************************** header **************************************/
header {
    display: flex;
    height: 13vh;
    align-items: center;
    justify-content: center;
    background: #FFF;
}

#burgerButton {
    margin: 0 0 0 15px;
    width: 30px;
}

    #burgerButton .bar {
        width: 100%;
        height: 5px;
        background: #c2e8fe;
        margin: 6px 0;
    }

.logo h1 {
    font-family: tekainosFont;
    color: #004990;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* No support for these yet */
    -o-user-select: none;
    user-select: none;
    font-size: 3.5em;
}

.mainNav {
    text-align: right;
    height: 27px;
}

    .mainNav li {
        list-style: none;
        display: inline-flex;
        align-items: center;
        padding: 0 1em;
        font-size: 1.25em;
        color: #004990;
        font-weight: 600;
        cursor: pointer;
    }

        .mainNav li:nth-child(3), .mainNav li:nth-child(4) {
            border-left: 1px solid #DDD;
        }

        .mainNav li:first-child {
            margin-left: 0;
        }

        .mainNav li:last-child {
            margin-right: 0;
        }

        .mainNav li i {
            margin-right: .25em;
            color: inherit;
            font-size: 1.75em;
            font-weight: initial;
        }




/************************************** login page **************************************/
#LoginBox .logo h1 {
    font-size: 10vw;
    margin-bottom: 40px;
}




/************************************** job listings **************************************/
#jobsAccordion h2 {
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 0;
    font-size: 2em;
}

#JobsList--filter {
    padding: 1em;
    border-bottom: 1px solid #004990;
}

    #JobsList--filter li {
        list-style: none;
        display: inline;
        font-size: 1em;
    }
.jobListings {
    height: 64vh;
}

    .jobListings .panelAccordion {
        padding: 1em;
        border-bottom: 1px solid #BBB;
    }

        .jobListings .panelAccordion:nth-child(even) {
            background: #FFF;
        }

        .jobListings .panelAccordion:last-child {
            border: 0;
        }

        .jobListings .panelAccordion h3 {
            font-size: 1.5em;
            padding: 0;
            margin: 0;
        }



/************************************** jobs status menu **************************************/
.statusPane {
    background: linear-gradient(to left, #ffffff, #F5F5F5);
    border-radius: 0 10px 10px 0;
    text-align: center;
    max-height: 70vh;
    height: 100%;
    overflow: auto;
}

    .statusPane h2 {
        color: #004990;
        font-size: 2.5vw;
        font-weight: 600;
        margin: 0 auto;
    }

.sideContent {
    width: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 2em;
}

#statusPaneButton {
    z-index: 1;
}

    #statusPaneButton i {
        font-size: 2em;
        color: #0571af;
        font-weight: 100;
    }

.statusPaneVisible {
    position: absolute;
	top: 2em;
	left: 2em;
}

.statusPaneHidden {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1em 0;
    position: relative;
}

.StatusBlock {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 2em;
    padding: 1em 0;
}

    .StatusBlock span {
        color: #5ebb48;
        font-size: 30px;
        font-weight: 600;
    }

        .StatusBlock span.subtext {
            font-size: 20px;
            color: inherit;
        }

        .StatusBlock span.error {
            color: #ff2a00;
        }





/************************************** customer navigation bar **************************************/
#customerInfo {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 1em;
    padding: 0;
}

    #customerInfo p {
        font-size: 1.5em;
    }

.projectClose {
    background: red;
    height: 100%;
}

    .projectClose:hover {
        background: #000;
    }

#closeProjectBtn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    #closeProjectBtn i {
        color: #FFF;
        font-size: 2.25em;
    }

.projectSubmit {
    text-align: center;
}

    .projectSubmit button {
        padding: 5px 25px;
        margin: 0 auto;
        border-radius: 3px;
    }

    .projectSubmit .disabledSubmitBtn {
        background: #ccc;
        border: 0;
        color: #aaa;
        cursor: default;
    }

    .projectSubmit .activeSubmitBtn {
        background: #A2B209;
        border: 0;
        color: #FFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }





/************************************** room's navigation **************************************/
#roomNav {
    /*display: flex;
    align-items: center;*/
    height: 30px;
    line-height: 30px;
    margin-top: -1em;
}

    #roomNav div {
        font-size: 1em;
        font-weight: 600;
        color: #004990;
        text-align: center;
    }

        #roomNav div:first-child {
            color: #000;
            text-transform: uppercase;
            font-size: 1.25em;
        }

        #roomNav div i {
            color: #004990;
            font-size: 1em;
        }

.activeNavBtn {
    background: #FFF;
}





/************************************** project view screen **************************************/
#projectView .contentPane {
    padding: 0;
}


.detailsTop {
    margin: 2em 0 2em 0;
}

    .detailsTop h2 {
        border-bottom: solid 2px #c2e8fe;
        color: #004990;
        padding: 1em 0 .25em 0;
        font-size: 1.5em;
    }

    .detailsTop h3 {
        padding: 0;
        font-size: 1.2em;
        margin-top: 2em;
    }


.detailsLeft {
    height: 73vh;
    overflow: auto;
    border-right: 1px solid #BBB;
    padding: 0 1.5em;
}

    .detailsLeft h2 {
        border-bottom: solid 2px #c2e8fe;
        color: #004990;
        padding: 1em 0 .25em 0;
        font-size: 1.5em;
    }

    .detailsLeft h3 {
        padding: 0;
        font-size: 1.2em;
        margin-top: 2em;
    }


.detailsRight {
    height: 73vh;
    overflow: auto;
}

    .detailsRight h2 {
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: 600;
        color: #004990;
        padding: 1em 0 .25em 0;
    }

    .detailsRight h3 {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 600;
        color: #000;
        padding: 1.5em 0 .25em 0;
    }

.projectRoom {
    border: solid 1px #c2e8fe;
    margin: 1em 0;
    padding: .5em;
    background: #f5f5f5;
}

    .projectRoom p {
        color: #004990;
        font-weight: 600;
        text-transform: uppercase;
    }


#projectSummary {
    padding: 0 1.5em;
    overflow: auto;
    height: 73vh;
}

    #projectSummary .date, #projectSummary .customerContact {
        font-weight: 600;
    }

    #projectSummary textarea {
        width: 75%;
    }




/************************************** measure view screen **************************************/





/************************************** attach view screen **************************************/
#roomAttachView .detailsLeft, #roomAttachView .detailsRight {
    height: 54vh;
}

    #roomAttachView .detailsRight h3 {
        text-transform: uppercase;
        border: 0;
        margin: 0 auto .5em auto;
        padding: 0;
        max-width: 250px;
    }

#roomAttachView .detailsTop h2 {
    text-transform: uppercase;
    border: 0;
}

#roomAttachView .uploadBox {
    margin: 0 auto;
}



/************************************** estimate view screen **************************************/
#estimateDetails .detailsLeft h2 {
    border: solid 2px #c2e8fe;
    text-transform: uppercase;
    padding: .5em;
    margin: 1em;
}




/************************************** flyout side navigation menu **************************************/
#sideNav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    background: #000055;
    z-index: 1000;
    overflow: auto;
    height: 100%;
}

    #sideNav .logo h1 {
        color: #FFF;
        width: 50%;
        float: left;
        margin: .5em 0;
        font-size: 2.5em;
    }

#sideNavClose {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 1em;
}

    #sideNavClose .sideNavCloseBtn {
        font-size: 3em;
        font-weight: 600;
        cursor: pointer;
        color: #CC1F14;
    }

    #sideNavClose .sideNavCloseBtn:hover {
        cursor: pointer;
        color: #000;
    }

.sideNavLinks {
    clear: both;
}

    .sideNavLinks li {
        list-style: none;
        border-bottom: solid 1px #FFF;
        margin: 0 0 1em 0;
        padding: 0;
        line-height: 40px;
        color: #FFF;
    }





/************************************** progress bar **************************************/
#progress-bar {
    height: 10px;
    background: #eaeaea;
    margin: 1em;
}

#progress {
    width: 0%;
    max-width: 100%;
    height: 100%;
    background: #EF5F3C;
}





/************************************** buttons **************************************/
.projectButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .projectButtons > div {
        background: #F5F5F5;
        margin: 1em;
        padding: 1em 3em;
        border: solid 1px #c2e8fe;
        color: #004990;
        border-radius: 5px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
    }

        .projectButtons > div:first-child {
            margin-left: 0;
        }

        .projectButtons > div:last-child {
            margin-right: 0;
        }

        .projectButtons > div i {
            color: inherit;
            margin-right: .25em;
        }

.addRoomBtns {
    justify-content: flex-end;
}

    .addRoomBtns > div {
        background: #FFF;
        padding: .5em 1em;
    }

.uploadButton {
    background: #004990;
    border: 0;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
    height: 50px;
    padding: 0 1em;
}

.uploadButton i {
    color: inherit;
    margin-right: .5em;
}

.uploadBox {
    max-width: 250px;
    max-height: 250px;
    height: 100%;
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.radioGroup {
    float: left;
    max-width: 49%;
    width: 100%;
}

.formGroup {
    float: left;
    width: 100%;
}












hr {
	border: 0;
	border-top: 1px solid #ccc;
}

input[type=text] {
    border: 0;
    color: black;
    box-shadow: none;
    border-radius: 3px;
}

.hiddenSubmit {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.backButt {
    position: absolute;
    display: inline;
    height: 50px;
    width: 100px;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.backCanv {
   z-index: 3;
}

.headerInputs {
    padding: 1px;
    border: 1px white solid;
}

.main-page {
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    background-color: #1D6DA0;
}

.block-title {
    color: #198EFF;
    opacity: .9;
    font-size: 45px;
}

.LoremIpsum {
    color: #FFF;
}

.tileContainer {
    position: absolute;
    height: 400px;
    width: 325px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #444;
    overflow-y: scroll;
}

.tileInput {
    width: 45%;
    display: inline-block;
}

.submitDiv {
    display: inline-block;
    float: right;
    margin: 10px;
    width: 40%;
    height: 60%;
    overflow: auto;
    padding: 25px;
    color: black;
}

.canvasBox {
    display: inline-block;
    float: left;
    margin: 10px;
    background-color: #ddd;
    width: 40%;
    height: 60%;
    overflow: auto;
    padding: 25px;
    border: 1px black solid;
}

.nameInput {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
    display: block;
}

.selectVersion {
    width: 50%;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
}

.submitNotes {
    width: 100%;
    height: 40%;
    display: block;
    margin-right: 10px;
}

.LoremIpsum {
    width: 90%;
    height: 22%;
    margin: 20px;
    margin-top: 20px;
    font-size: 16px;
    overflow-y: hidden;
}

.placeholder {
    color: #004690;
}

.NavDark {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.NavPage {
    background-image: url(/img/grid2.PNG);
    position: absolute;
    width: calc(100% - 300px);
    height: 100%;
    text-align: center;
}

.NavIcon {
    display: block;
    width: 12vw; /* 20% of the viewport width */
    height: 12vw;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}

.InternalBox {
    position: relative;
    height: 80%;
    width: 70%;
    margin-left: 15%;
}

.InternalFrame {
    position: relative;
    height: 90%;
    padding-top : 5%;
    width: 80%;
    margin-left: 10%;
}

.splashBox {
    height: 55%;
    width: 45%;
    margin: 2%;
    box-shadow: 5px 5px 10px #888;
    border-radius: 10px;
    z-index: 1;
    opacity: 0.9;
    border: 5px solid #002040;
    background-color: #002040;
}

    .splashBox:hover {
        opacity: 1;
        color: #FFF;
        background-color: #004690;
        border: 5px solid #FFF;
    }

    .splashBox:hover .block-title {
        color: #FFF;
    }

.BigBox {
    height: 100%;
    width: 100%;
    margin: 2%;
    box-shadow: 5px 5px #888;
    border-radius: 3px;
    z-index: 1;
    opacity: 0.9;
    border: 1px solid #111;
    background-color: #003a77;
}

.DarkBox {
    /*height: 65%;*/
    width: 60%;
    margin: 2em auto;
    padding-bottom: 1em;
    border-radius: 3px;
    text-align: center;
}

.loginBox {
    width: 55%;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 1em;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #ddd;
    background-color: #FFF;
}

.loginButton {
    background-color: #198EFF;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
}

.questionPage {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: #1D6DA0;
}

.filediv {
    width : 80%;
    margin-left: 10%;
    height: 55px;
    margin-top: 20px;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    overflow-x : hidden;
}

.filenotes {
    width : 50%;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: black;
}

.filename {
    width : 45%;
    float : left;
    margin-bottom : 30px;
    margin-left : 10px;
}

.testItenerary {
    display: inline-block;
    width: 20%;
    height: 90%;
    float: right;
    position: relative;
    margin: 2%;
    box-shadow: 5px 5px #888;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #111;
    overflow-y: scroll;
    text-align: center;
    background-color: #003a77;
    overflow-y: hidden;
    overflow-x: hidden;
}

.innerItenerary {
    height: 95%;
    padding: 5px;
    overflow-y: scroll;
    margin-bottom: 50px;
    margin-right: -50px;
    padding-right: 50px;
}

.itenerary {
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid white;
}

.submitButton {
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.submitPageButton {
    width: 80%;
    height: 50px;
    color: white;
    border: none;
}

.rollCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
}
.NamePage {
    background-color: #222;
    height: 100%;
    width: 100%;
}

/* .NameBox {
    margin: auto;
    text-align: center;
    font-size: 130px;
    font-family: tekainosFont;
    color: #004990;
    display: block;
} */
.questionGroup {
    display: inline-block;
    height: 90%;
    width: 65%;
    margin: 2%;
    margin-left: 5%;
    box-shadow: 5px 5px #888;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #111;
    padding: 5%;
    padding-top: 0px;
    overflow-y: scroll;
    text-align: center;
    background-color: #003a77;
}

.questionBox {
    display : block;
    width : 100%;
    height : 100%;
}

.progBar {
    width: 100%;
    height: 100px;
}

.parallelogram {
    width: 31%;
    font-size: 20px;
    display: inline-block;
    background: #eee;
    box-shadow: 5px 5px #888;
    color: #111;
    margin: 5px;
    border-radius: 2px;
}
    .parallelogram:hover {
        background: #BED5E3;
    }


.selectedParallelogram {
    width: 31%;
    font-size: 20px;
    display: inline-block;
    background: #3a7700;
    box-shadow: 5px 5px #888;
    color: #fff;
    margin: 5px;
    border-radius: 2px;
}

.loginRow {
    height: 50px;
    width: 70%;
    margin-left: 15%;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid #aaa;
}

.loginInput {
    color: black;
    height: 30px;
    width: 80%;
    margin-left: 10px;
    border: 0;
    box-shadow: none;
}

.inputIcon {
    color: black;
    font-family: "FontAwesome";
    font-size: 20px;
}

.questionClass {
    display: inline-block;
    width: 100%;
    margin: 0px;
    border-radius: 0px 15px 0px 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    float: left;
    border: 1px #666 solid;
    background-color: #aaa;
}

.questionFill {
    width: 60%;
    margin-top: 15px;
    color: black;
}

.questionAnswers {
    display: inline-block;
    padding-left: 20px;
    float: left;
}

.questionLegend {
    display: inline-block;
    text-align: left;
    background-color: #BED5E3;
    padding-left: 15px;
    border-radius: 0px 15px 0px 0px;
    width: 100%;
    margin: auto;
    float: left;
    color: black;
    border-bottom: 1px #666 solid;
    font-size: 20px;
}

.radioLabel {
    margin: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}

textarea {
	tab-size: 4;
	white-space: pre;
	word-wrap: normal;
}

	textarea.success {
		border-color: #8b8 !important;
	}

	textarea.fail {
		border-color: #f00 !important;
		background-color: rgba(255,0,0,0.05);
	}

textarea, input { outline: none; } /* osx */

.Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

	.Panel.Collapsible .Static {
		margin: 0;
	}

	.Panel.Collapsible .Static .Button {
		float: left;
		margin-right: 6px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
	}

	.Panel.Collapsible.collapsed .Static .Button {
		margin-top: 2px;
		border-left-color: #bbb;
	}

	.Panel.Collapsible:not(.collapsed) .Static .Button {
		margin-top: 6px;
		border-top-color: #bbb;
	}

	.Panel.Collapsible.collapsed .Content {
		display: none;
	}



/**************    Products Picker - Derek Will    **************/

.overflow--y-scroll {
    overflow-y: auto;
}

.overflow--hidden {
    overflow: hidden;
}

#productsPage {
    position: relative;
}

#productsPage .product-type img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#productsPage .overflow--y-scroll {
    height: 68%;
    box-sizing: border-box;
}

#productsPage h2 {
    font-size: 3em;
    text-align: left;
}

.product-category {
    font-size: 2.5em;
    color: white;
    margin: 0;
}

.prodcat-options {
    display: none;
}

.product-category h3 {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    background: #444;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.product-type {
    display: inline-block;
    width: calc(90% / 3);
    height: 150px;
}



/************************************** CodeMirror **************************************/

.CodeMirror {

	position: absolute !important;
	top: 37px;
	width: 100% !important;
	height: calc(100% - 37px) !important;

}

	.CodeMirror .errorLine {

		background: rgba(255,0,0,0.25);

	}

	.CodeMirror .esprima-error {

		color: #f00;
		text-align: right;
		padding: 0 20px;

	}

/* outliner */

#outliner .option {

	border: 1px solid transparent;
}

#outliner .option.drag {

	border: 1px dashed #999;

}

#outliner .option.dragTop {

	border-top: 1px dashed #999;

}

#outliner .option.dragBottom {

	border-bottom: 1px dashed #999;

}

#outliner .type {
	position:relative;
	top:-2px;
	padding: 0 2px;
	color: #ddd;
}

#outliner .type:after {
	content: '■';
}

#outliner .Scene {
	color: #ccccff;
}

#outliner .Object3D {
	color: #aaaaee;
}

#outliner .Mesh {
	color: #8888ee;
}

#outliner .Line {
	color: #88ee88;
}

#outliner .LineSegments {
	color: #88ee88;
}

#outliner .Points {
	color: #ee8888;
}

/* */

#outliner .PointLight {
	color: #dddd00;
}

/* */

#outliner .Geometry {
	color: #88ff88;
}

#outliner .BoxGeometry {
	color: #bbeebb;
}

#outliner .TorusGeometry {
	color: #aaeeaa;
}

/* */

#outliner .Material {
	color: #ff8888;
}

#outliner .MeshPhongMaterial {
	color: #ffaa88;
}

/* */

#outliner .Script:after {
	content: '{...}' /* ❮/❯ */
}
